<div class="news d-flex flex-column" *ngIf="news$ | async as news">
	<!-- Navbar area -->
	<div class="mb-4 justify-content-end d-flex">
		<form class="d-flex" role="search">
			<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" type="text"
				[(ngModel)]="searchTerm" name="searchTerm" />
			<button class="btn btn-outline-success" type="submit">Search</button>
		</form>
	</div>

	<!-- News area -->
	<div class="news-grid">
		<!-- Card generation -->
		<div class="card" *ngFor="let card of news">
			<!-- Card Image area -->
			<div class="media-wrap">
				<img class="card-img-top"
					[src]="'data:' + card.thumbnail_media_type + ';base64,' + card.thumbnail_image"
					[alt]="card.title || 'News image'" [routerLink]="['/article', card.id]" />
				<span class="badge-cat">{{ card.category | titlecase }}</span>
			</div>

			<!-- Content of card -->
			<div class="card-body">
				<h5 class="card-title" [routerLink]="['/article', card.id]">{{ card.title }}</h5>
				<div class="card-text">
					<p>{{ card.subtitle }}</p>
					<!-- removed since the task says elsewise -->
					<!-- <div [innerHTML]="card.abstract | safeHtml"></div> -->
				</div>

				<!-- For optics -->
				<div class="more">
					<a [routerLink]="['/article', card.id]">more...</a>
				</div>

				<!-- If logged in -->
				<div class="logged-in-edit" *ngIf="loggedIn$ | async">
					<button type="button" class="btn btn-primary btn-sm" [routerLink]="['/edit', card.id]">Edit</button>
					<button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal"
						data-bs-target="#modal">Remove</button>

					<!-- Modal -->
					<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h1 class="modal-title fs-5" id="modalLabel">Do you really want to delete this article?</h1>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									If you are removing this article, it cannot be retrieved!
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-bs-dismiss="modal">Cancel</button>
										<button class="btn btn-danger" data-bs-dismiss="modal" (click)="delete(card.id)">Yes, delete</button>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="card-footer">
				Updated 5 min ago
			</div>
		</div>
	</div>
</div>