<div class="news d-flex flex-column" *ngIf="news$ | async as news">
   <div class="mb-4 justify-content-end d-flex">
    <label>
     Search:
      <input type="text" [(ngModel)]="searchTerm">
    </label>
  </div>
  <div class="news-container">
     <div class="news-card" *ngFor="let card of (news | filterArticles: searchTerm)">
    <div class="card">
      <img
        [src]="'data:' + card.thumbnail_media_type + ';base64,' + card.thumbnail_image"
        class="card-img-top"
        alt="{{ card.title }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ card.title }}</h5>
        <p class="card-text text-muted">{{ card.category }}</p>
        <div class="more">
            <a [routerLink]="['/article', card.id]">more...</a>
        </div>
      </div>
      <div class="card-footer">
        <div [innerHTML]="card.abstract | safeHtml"></div>
        <div *ngIf="loggedIn$ | async">
          <button [routerLink]="['/edit', card.id]">Edit</button><button>Remove</button>
        </div>
      </div>
    </div>
  </div>
  </div>
 
</div>