.navbar {
  background-color: var(--color-primary) !important;
  color: var(--color-text) !important;
}

.navbar a,
.navbar .nav-link,
.navbar .navbar-brand {
  color: var(--color-text) !important;
}

.navbar a:hover,
.navbar .nav-link:hover {
  color: #f8f9fa !important;
}

.navbar-toggler-icon {
  color: var(--color-navbar-text) !important;
}