<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="d-flex flex-row align-items-center">
      
      <img src="assets/images/UPM_logo.png" class="logo" [routerLink]="['/category', 'all']" />
    <a class="navbar-brand" href="#">UPM News</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active-link"
            aria-current="page"
            [routerLink]="['/category', 'all']"
            >All</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active-link"
            [routerLink]="['/category', 'national']"
            >National</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active-link"
            [routerLink]="['/category', 'international']"
            >International</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" [routerLink]="['/category', 'economy']"
            >Economy</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" [routerLink]="['/category', 'sports']"
            >Sports</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active-link"
            [routerLink]="['/category', 'technology']"
            >Technology</a
          >
        </li>
      </ul>
    </div>
	</div>
    <div>
      <form
        *ngIf="!loginService.isLogged()"
        class="d-flex"
        #loginForm="ngForm"
        (ngSubmit)="login(user, loginForm)"
      >
        <input
          class="form-control me-2"
          type="text"
          required
          name="username"
          placeholder="Username"
          [(ngModel)]="user.username"
          #username="ngModel"
          aria-label="Username"
        />
        <input
          class="form-control me-2"
          type="password"
          required
          name="password"
          placeholder="Password"
          [(ngModel)]="user.password"
          #password="ngModel"
          aria-label="Password"
        />
        <button class="btn login" type="submit">Login</button>
      </form>
      <div class="d-flex align-items-center" *ngIf="loginService.isLogged()">
        <div class="me-2">Welcome, {{ user.username }}</div>
        <button class="btn logout" (click)="logout(loginForm)">Logout</button>
      </div>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
