.card {
  margin: 7% 2%;
}

.form-floating,
.form-group {
  margin: 3%;
}

button.save-btn:disabled,
button.save-btn[disabled] {
  cursor: not-allowed;
}

.fw-bolder:after {
  content: ' *';
  color: red;
}


.no-user {
  min-height: calc(100vh - 255px);
  display: flex;
  justify-content: center;
  padding: 50px;
}