<div class="card">
	<div class="card-body">
		<h1 class="card-title">{{ id == null ? 'Create New' : 'Edit' }} Article</h1>

		<form #articleContent="ngForm">
			<div class="form-group">
				<p class="fw-bolder">Title:</p>
				<input class="form-control" type="text" required [(ngModel)]="article.title" #title="ngModel"
					name="title" />
				<div *ngIf="!title.valid && !title.untouched" class="text-danger">
					Please enter an article title.
				</div>
			</div>

			<div class="form-group">
				<p class="fw-bolder">Subtitle:</p>
				<input class="form-control" type="text" required [(ngModel)]="article.subtitle" #subtitle="ngModel"
					name="subtitle" />
				<div *ngIf="!subtitle.valid && !subtitle.untouched" class="text-danger">
					Please enter an article subtitle.
				</div>
			</div>

			<div class="form-floating">
				<select #category="ngModel" required [(ngModel)]="article.category" name="category" id="category"
					class="form-select" aria-label="Floating label select example">
					<option value="National">National</option>
					<option value="International">International</option>
					<option value="Economy">Economy</option>
					<option value="Sports">Sports</option>
					<option value="Technology">Technology</option>
				</select>
				<label for="floatingSelect">Select a Category</label>
				<div *ngIf="!category.valid && !category.untouched" class="text-danger">
					Please enter an article category.
				</div>
			</div>

			<div class="form-group">
				<p class="fw-bolder">Abstract:</p>
				<textarea class="form-control" required [(ngModel)]="article.abstract" #abstract="ngModel"
					name="abstract" rows="2"></textarea>
				<div *ngIf="!abstract.valid && !abstract.untouched" class="text-danger">
					Please enter an article abstract.
				</div>
			</div>

			<div class="form-group">
				<p class="fw-bolder">Body:</p>
				<textarea class="form-control" [(ngModel)]="article.body" name="body" rows="10"></textarea>
			</div>

			<div class="form-group">
				<p class="fw-bolder">Image:</p>
				<!-- <label for="formFile" class="form-label">Image: </label> -->
				<input class="form-control" type="file" id="formFile" required (change)="fileChangeEvent($event)">
			</div>

			<div class="d-grid gap-2 d-md-flex justify-content-md-end">
				<input class="btn btn-outline-danger" type="reset" value="Cancel" [routerLink]="['/category/all']" />
				<button class="btn btn-outline-success" (click)="saveArticle()" [disabled]="!articleContent.valid"
					type="button">
					<div *ngIf="this.is_new_article">
						Create
					</div>
					<div *ngIf="!this.is_new_article">
						Save
					</div>
				</button>
			</div>

		</form>
	</div>
</div>