/* You can add global styles to this file, and also import other style files */
:root{
  --color-primary: #D4A151;
  --color-bg: #23494A55;
  --color-surface: #E2E2E4;
  --color-text:  #494A55;
  --color-border: #9F563A;
}

/* body {
  background-color: var(--color-bg);
  color: var(--color-text);
} */

:root[data-theme="dark"] {
  --color-primary: #66b2ff;
  --color-bg: #121212;
  --color-surface: #1e1e1e;
  --color-text: #e0e0e0;
  --color-border: #333;
}