/* You can add global styles to this file, and also import other style files */
:root{
  --color-primary: #84994F;
  --color-bg: #40404014;
  --color-surface: #ffffff;
  --color-text:  #000000;
  --color-border: #9F563A;
  --color-navbar-text: #ffffff;
  --color-secondary: #FFE797;
  --color-tertiary: #FCB53B;
  --color-quaternary: #B45253;
}

/* body {
  background-color: var(--color-bg);
  color: var(--color-text);
} */

:root[data-theme="dark"] {
  --color-primary: #66b2ff;
  --color-bg: #121212;
  --color-surface: #1e1e1e;
  --color-text: #e0e0e0;
  --color-border: #333;
}